@media(min-width:376px) {
    h2{
        font-size: 150%;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    header .list1 {
        flex-direction: row;
        justify-content: space-around;
    }

    header .button1 {
        width: 30%;
    }

    /*  section1                 */
    header .button {
        width: 40%;
    }


    /*  section2                */
    .s2r1{
        margin-left: 10%;
    }
    .s2r2{
        text-align:left;
    }
    .s2r3{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
    }

/*              secton 3             */
    .section3 .anotherContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one one"
        "two three";
    }
    .s3r1{
        height:20%;
        margin-left: 10%;
        margin-bottom: 1%;
    }
    .s3r2{
        text-align: left;
        margin-left: 10vw;
    }
    .s3r3{
        text-align: left;
    }
    .s3r4{
        grid-gap:7%;

    }
    .peopleSuper{
        position:relative;
        width:80%;
    }
    .peopletag{
        position:absolute;
        top:90%;
        left:20%;
        width: 100%;
        height: fit-content;
    }

/*               section4                   */

    .s4r1r2{
        font-size: 140%;
    }
    .s4r2{
        width:60%;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-gap: 15%;
        font-size: 140%;
    }
/*               section5                         */
    .section5{
        max-width: 100%;
        overflow-x: hidden;
    }
    .section5 .container{
        margin-left: 2%;
    }

    .arrow{
        position:static;
        margin-top: 5%;
    }
    .s5r4{
        display:none;
    }
    .s5r3a{
        position:relative;

    }
    .s5r3b{
        display:block;
        position:relative;
    }
    .s5r3c{
        display:block;
        position:relative;
    }
    .s5r3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30%;

    }

    .outerarrow{
        display:flex;
    }
    .arrow{
        margin-left: 20%;
    }
    .teenrect{
    width:200%;}



/*                section6                */
    footer .container1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
        grid-template-areas:"one two four"
        "one three five"
        "one six eight"
        "one seven eight";
        grid-gap: 5%;
    }
















}
