@media(min-width:768px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    header .container{
        width:100%;
        flex-direction: row;
        justify-content: space-between;
    }
    header .list1{
        flex-direction:row;
        justify-content: space-between;
    }

    header .button1{
        width: 30%;

    }
    /*  section1                 */
    .s1r1{
        bottom:80%;

    }
    .s1r3{
        width:25%;
        height:50%;
    }

    .ajeebrect{
        left:20%;
        bottom:95%;
    }
    .section1 .container{
        flex-direction:row-reverse;
        justify-content: flex-end;
    }

    .section1 footer{
        background-color: #C1F7D5;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
    }
/*             section2                    */
    .s2r3{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
    }
    .s2r3r1{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }
    .s2r3r2{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }
    .s2r3r3{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }
    .section2images{
        bottom: 10px;
        left:30px;
    }

/*             section4                */

    .section4 .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr .2fr ;
        grid-template-areas: "content1 photo"
        " buttonx photo";
    }
    .s4r2{
        grid-area: photo;
    }
    .s4r3{
        grid-area: content1;
        margin-top: 20%;
        position: relative;
        left:30%;
        height:80%;
        top:1%;
    }
    .s4r4{
        grid-area:buttonx;
        position: relative;
        top:50%;
        left:20%;
    }
/*             section5               */






    /*                    section6              */

    .section6 .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "one1 two2 three3";
    }

/*            footer             */
    footer .container1{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        grid-template-areas:"one two four six eight"
        "one three five seven eight";
    }









}